.body {
       background: linear-gradient(rgb(91, 87, 115), rgba(0,0,0,1));
       flex: 0.8;
       height: 100vh;
       color: #fff;
       padding: 30px;
       overflow: scroll;
}

.body::-webkit-scrollbar {
       display: none;
}

.bodyInfo {
       display: flex;
       align-items: flex-end;
       padding: 10px;
}

.bodyInfoText {
       flex:1;
}

.bodyInfo> img {
      height: 20vw;
      margin: 0 20px;
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.bodyInfoText > h2 {
       font-size: 48px;
       margin-bottom: 10px;
}

.bodyInfoText > p {
       font-size: 14px;
}

.bodyShuffle {
       font-size: 80px!important;
       margin: 20px 0 20px 50px;
}

.bodyShuffle:hover {
       transform: 100ms transform ease-in;
       transform: scale(1.08);
}
.bodyIcons {
       display: flex;
       align-items: center;
}

.bodyIcons > .MuiSvgIcon-root{
     margin-right: 20px;
}

.bodySongs {
       margin: 20px -30px;
}

